[submodule "project-mapper-templates"]
	path = project-mapper-templates
	url = https://github.com/blakesims/project-mapper-templates.git
[submodule ".project-mapper"]
	path = .project-mapper
	url = https://github.com/blakesims/project-mapper-templates.git
